.hidden {
  display: none; /* Сховати елемент (не відображається на сторінці) */
}

body {
  font-family: "Roboto", sans-serif; /* Встановлює шрифт "Roboto" для всього тексту на сторінці, якщо він недоступний — використовується будь-який sans-serif шрифт */
  color: #434455; /* Встановлює колір тексту (#434455 — темно-сірий відтінок) */
  background-color: #ffffff; /* Встановлює колір фону сторінки білим */
}

ul,
ol {
  list-style-type: none; /* Відключає стандартні маркери або нумерацію для списків */
  margin: 0; /* Встановлює нульовий відступ ззовні елемента */
  padding: 0; /* Встановлює нульовий внутрішній відступ */
}

/* Загальний стиль для заголовків та абзаців */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /* Встановлює нульовий відступ ззовні елементів */
  padding: 0; /* Встановлює нульовий внутрішній відступ */
}

img {
  display: block; /* Забезпечує, щоб зображення не займало простір в рядку і починалося з нового рядка */
  max-width: 100%; /* Встановлює максимальну ширину зображення, що не перевищує ширину батьківського елемента */
  height: auto; /* Встановлює автоматичне коригування висоти зображення для збереження пропорцій */
}

a {
  text-decoration: none; /* Вимикає підкреслення для всіх посилань */
}


/* Паттерн для приховання заголовка */
.visually-hidden {
  position: absolute; /* Розміщує елемент абсолютно по відношенню до найближчого батьківського елемента, що має позицію */
  width: 1px; /* Встановлює ширину елемента в 1 піксель */
  height: 1px; /* Встановлює висоту елемента в 1 піксель */
  margin: -1px; /* Встановлює відступи навколо елемента, ефективно зміщуючи його */
  border: 0; /* Відключає будь-які межі елемента */
  padding: 0; /* Відключає внутрішні відступи */
  white-space: nowrap; /* Перешкоджає обриву рядків всередині елемента */
  clip-path: inset(100%); /* Застосовує маску, що ховає весь вміст елемента */
  clip: rect(0 0 0 0); /* Інший спосіб маскування вмісту, схожий на clip-path */
  overflow: hidden; /* Ховає будь-який вміст, що виходить за межі елемента */
}

/* Дефолтний клас container для стандартизації розмірів */
.container {
  width: 320px; /* Фіксована ширина контейнера */
  margin: 0 16px; /* Центрування по горизонталі */
  padding: 0 auto; /* Внутрішні відступи по горизонталі */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
