@media screen and (min-width: 768px) {
  .burger-btn {
    display: none; /* приховування бургер-меню на екранах більших за 768px */
  }

  .header-nav {
    display: flex; /* флекс-контейнер для навігації */
    align-items: center; /* вирівнювання по вертикалі */
  }

  .nav-list {
    display: flex; /* флекс-контейнер для елементів навігації */
    align-items: center; /* вирівнювання по вертикалі */
    gap: 40px; /* відстань між елементами */
  }

  .header-logo {
    padding: 24px 0; /* зміна внутрішніх відступів */
    margin-right: 120px; /* правий зовнішній відступ */
  }

  .nav-link {
    display: block; /* відображення елементів навігації як блоків */
    padding: 24px 0; /* внутрішні відступи */
    font-weight: 500; /* середній шрифт */
    font-size: 16px; /* розмір шрифта */
    line-height: 1.5; /* міжрядковий інтервал */
    letter-spacing: 0.02em; /* міжлітерний інтервал */
    color: #2e2f42; /* колір тексту */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* ефект плавної зміни кольору */
  }

  .nav-link.current {
    position: relative; /* відносне позиціювання */
  }

  .nav-link.current::after {
    content: ""; /* псевдоелемент */
    position: absolute; /* абсолютне позиціювання */
    left: 0; /* розташування зліва */
    bottom: -1px; /* розташування знизу */
    width: 100%; /* ширина 100% */
    height: 4px; /* висота */
    border-radius: 2px; /* округлість кутів */
    background-color: #404bbf; /* колір фону */
  }

  .contacts {
    font-style: normal; /* нормальний стиль для шрифта */
    display: block; /* відображення блоку */
  }

  .contacts-list {
    display: flex; /* флекс-контейнер для списку контактів */
    flex-direction: column; /* вертикальне вирівнювання */
    gap: 12px; /* відстань між елементами */
  }

  .contacts-link {
    display: block; /* відображення контактів як блоків */
    font-size: 12px; /* розмір шрифта */
    line-height: 1.17; /* міжрядковий інтервал */
    letter-spacing: 0.04em; /* міжлітерний інтервал */
    color: #434455; /* колір тексту */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* ефект плавної зміни кольору */
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf; /* зміна кольору при наведенні */
  }

  .mobile-menu {
    display: none; /* приховування мобільного меню на екранах більших за 768px */
  }

  /* Секція №1 */

  /* Першочергові стилі для мобільних пристроїв (до 767px) */
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        /* Градиєнт для фону */ rgba(46, 47, 66, 0.7) /* Градиєнт для фону */
      ),
      url("../images/Foto_a.jpg"); /* Фонове зображення для мобільної версії */
    background-repeat: no-repeat; /* Забороняє повторення фону */
    background-position: center; /* Встановлює позицію фону по центру */
    background-size: cover; /* Фон покриває весь доступний простір */
    max-width: 320px; /* Максимальна ширина секції для мобільних пристроїв */
    background-color: #2e2f42; /* Колір фону для мобільних пристроїв */
    text-align: center; /* Центрує текст в середині */
    display: flex; /* Використовує flexbox для розташування елементів */
    flex-direction: column; /* Вертикальне вирівнювання елементів */
    justify-content: center; /* Центрує контент по вертикалі */
    align-items: center; /* Центрує контент по горизонталі */
    margin: 0 auto; /* Автоматичні відступи зліва і справа для вирівнювання */
    padding-top: 72px; /* Відступ від верхнього краю */
    padding-bottom: 72px; /* Відступ від нижнього краю */
  }

  .section-title {
    font-size: 24px; /* Розмір шрифту для мобільних пристроїв */
    font-weight: 700; /* Товщина шрифту */
    line-height: 1.2; /* Висота рядка */
    color: #ffffff; /* Колір шрифту */
    margin: 0 auto 22px; /* Центрує текст і відступ від кнопки */
  }

  .action-button {
    width: 169px; /* Ширина кнопки */
    height: 56px; /* Висота кнопки */
    background-color: #4d5ae5; /* Колір фону кнопки */
    color: #fff; /* Колір тексту кнопки */
    font-size: 16px; /* Розмір шрифту кнопки */
    font-weight: 500; /* Товщина шрифту кнопки */
    line-height: 24px; /* Висота рядка тексту в кнопці */
    border-radius: 4px; /* Заокруглення кутів кнопки */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор у вигляді руки при наведенні */
    text-align: center; /* Центрує текст в кнопці */
    transition: background-color 250ms ease; /* Анімація зміни кольору фону при наведенні */
  }

  .action-button:hover {
    background-color: #404bbf; /* Зміна кольору фону кнопки при наведенні */
  }

  /* Section №3 Мобільний телефон */

  .drei-section {
    padding: 96px 28px;
    background: #f4f4fd; /* Колір фону секції */
  }

  .drei-team-title {
    margin-top: 0; /* Верхній відступ обнулений */
    font-family: "Roboto", sans-serif; /* Шрифт Roboto, запасний sans-serif */
    font-size: 36px; /* Розмір шрифту 36px */
    font-weight: 700; /* Жирність шрифту (700 — напівжирний) */
    line-height: 40px; /* Висота рядка 40px для гармонійного розташування тексту */
    letter-spacing: 0.02em; /* Міжлітерний інтервал (трішки розширений) */
    text-align: center; /* Текст вирівняно по центру */
    text-underline-position: from-font; /* Позиція підкреслення відповідно до шрифту */
    text-decoration-skip-ink: none; /* Підкреслення не пропускає символи (наприклад, літери з нижніми елементами) */
  }

  .team-list {
    display: flex; /* Гнучке відображення */
    flex-direction: column; /* Розташування елементів у колонку */
    align-items: center; /* Вирівнювання по центру */
    padding: 0; /* Внутрішні відступи */
    margin: 0; /* Зовнішні відступи */
    flex-wrap: wrap; /* Перенос елементів на новий рядок */
    list-style: none; /* Без маркерів списку */
  }

  .list-section-two {
    width: 288px; /* Ширина елементів для мобільної версії */
  }

  .drei-list-section {
    width: 264px; /* Ширина картки */
    border-radius: 0px 0px 4px 4px; /* Закруглення нижніх кутів */
    background-color: #ffffff; /* Білий фон */
    gap: 24px; /* Проміжок між елементами 24px */
  }

  .first-child {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .drei-list-section:first-child .drei-image-container {
    border-top-left-radius: 0px; /* Верхній лівий */
    border-top-right-radius: 0px; /* Верхній правий */
    border-bottom-right-radius: 4px; /* Нижній правий */
    border-bottom-left-radius: 4px; /* Нижній лівий */
  }

  .drei-list-section:first-child {
    margin-top: 96px; /* Відстань між верхом секції та першим фото */
  }

  .block-image {
    display: block; /* Робить зображення блочним елементом */
    max-width: 100%; /* Забезпечує, що зображення не виходить за межі батьківського контейнера */
    height: auto; /* Зберігає пропорції зображення при зміні ширини */
    margin: 0 auto; /* Центрування */
  }

  /* Контейнер для імені та посади */
  .team-info {
    padding: 32px 0; /* Встановлює відступи зверху та знизу по 32px, зліва та справа - 0 */
    padding-bottom: 32px; /* Встановлює відступ знизу на 32px, що дублює попередній відступ для зручності */
  }

  .drei-team-name {
    font-family: Roboto, sans-serif; /* Шрифт: Roboto, якщо недоступний - sans-serif */
    font-size: 20px; /* Розмір шрифту: 20px */
    font-weight: 500; /* Напівжирний шрифт */
    line-height: 24px; /* Висота рядка: 24px */
    letter-spacing: 0.02em; /* Міжлітерний інтервал: 0.02em */
    text-align: center; /* Вирівнювання тексту по центру */
    text-decoration: none; /* Видаляє підкреслення тексту */
    margin-bottom: 8px; /* Нижній відступ: 8px */
    margin-top: 0; /* Верхній відступ: 0 */
  }

  .drei-team-role {
    font-family: Roboto; /* Шрифт Roboto */
    font-size: 1em; /* Встановлює розмір шрифту відповідно до батьківського елемента */
    font-weight: 400; /* Нормальна товщина шрифту */
    line-height: 24px; /* Висота рядка 24px */
    letter-spacing: 0.02em; /* Міжлітерний інтервал 0.02em */
    text-align: center; /* Вирівнювання тексту по центру */
    text-underline-position: from-font; /* Позиція підкреслення залежить від шрифту */
    text-decoration-skip-ink: none; /* Підкреслення не пропускає чорнило */
    color: gray; /* Сірий колір тексту */
    margin-top: 0; /* Видаляє верхній відступ */
    margin-bottom: 8px; /* Додає відступ знизу для відокремлення елементів */
  }

  /* Тінь та закруглення для першого елемента списку */
  .first-team-member {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      /* Легка тінь з розмиттям */ 0px 1px 1px rgba(46, 47, 66, 0.16),
      /* Тінь з більш вираженим розмиттям */ 0px 1px 6px rgba(46, 47, 66, 0.08); /* Легка тінь з помірним розмиттям */
    border-radius: 0px 0px 4px 4px; /* Закруглює нижні кути елемента */
  }

  /* Список соцмереж */
  .social-list {
    list-style: none; /* Видаляє стандартні маркери списку */
    padding: 0; /* Видаляє внутрішні відступи списку */
    margin: 0; /* Видаляє зовнішні відступи списку */
    display: flex; /* Задає флексбокс-контейнер для елементів списку */
    justify-content: center; /* Вирівнює елементи по центру по горизонталі */
    gap: 24px; /* Відстань між елементами списку */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Анімація зміни кольору фону з плавним переходом */
    gap: 24px;
  }

  /* Елемент списку соцмереж */
  .social-item {
    width: 40px; /* Ширина елемента: 40 пікселів */
    height: 40px; /* Висота елемента: 40 пікселів */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавний перехід для зміни кольору фону */
    display: inline-block; /* Відображення елемента як inline-block */
  }

  /* Посилання в соцмережах */
  .social-link,
  .social-link-footer {
    display: flex; /* Використовує flexbox для вирівнювання елементів */
    align-items: center; /* Вертикальне вирівнювання елементів по центру */
    justify-content: center; /* Горизонтальне вирівнювання елементів по центру */
    width: 100%; /* Встановлює ширину елемента на 100% від батьківського контейнера */
    height: 100%; /* Встановлює висоту елемента на 100% від батьківського контейнера */
    background-color: var(
      --link-bg,
      #4d5ae5
    ); /* Встановлює колір фону для елемента */
    border-radius: 50%; /* Робить елемент круглим */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Анімація зміни кольору фону при наведенні з більш плавною швидкістю */
    display: grid; /* Використовує grid для розташування елементів */
    gap: 24px; /* Встановлює відступ між елементами всередині */
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf; /* Змінює колір фону на темніший при наведенні або фокусуванні для .social-link */
  }

  /* Іконка соцмереж */
  .social-icon {
    fill: var(--icon-color, #f4f4fd);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Сховати іконки для мобільної версії */
  .icon-container {
    display: none; /* Сховати іконки */
  }

  /* Заголовки відцентровані */
 .list-title {
    font-size: 36px; /* Розмір шрифту для заголовка */
    line-height: 40px; /* Висота рядка */
    text-align: center; /* Вирівнювання по центру */
    margin-bottom: 8px; /* Відступ знизу */
  }

  /* Параграф вирівняний по лівому краю */
  .list-paragraph {
    font-size: 16px; /* Розмір шрифту для параграфа */
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left; /* Вирівнювання по лівому краю */
    margin: 0; /* Відсутність відступів */
  }
}
